/* document.body.appendChild(function() {var el = document.createElement('link'); el.setAttribute('ref', 'stylesheet'); el.setAttribute('href', 'https://raw.githubusercontent.com/jl4282/wordpressstyle/master/style.css'); return el;}()) */

.pique-panel1 h3, .pique-panel2 h3 { text-align: center; }
@media (min-width: 768px) {
    #post-64 { visibility: hidden }
}
@media (max-width: 767px) {
	#post-64 { display: none }
}
.pique-panel2 img{
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 5px !important;
}      

/* yellow navbar */
#primary-menu li{
  	background-color: #f6a360;
    border-radius: 10px 0px 0px 10px;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

#primary-menu li right{
  	background-color: #f6a360;
    border-radius: 0px 10px 10px 0px;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}
/* Full size page (no white on widescreen monitors) */
.site {
	max-width: none;
}

/* test before / after navbar */

#primary-menu li:first-child::before {
	border-bottom: 2px solid #fcfbf9;
	bottom: 0;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	width: 20px;
	margin-left: -16px;
}

#primary-menu li:first-child {
	border-top: 2px solid #fcfbf9;
	border-left: 2px solid #fcfbf9;
	border-bottom: 0;
	color: #fcfbf9;
	display: inline-block;
	max-width: 100%;
	padding: 0 1rem;
	position: relative;
	text-transform: uppercase;
	word-break: break-word;
	word-wrap: break-word;
}

#primary-menu li:nth-child(2)::after {
	border-bottom: 2px solid #fcfbf9;
	bottom: 0;
	content: '';
	height: 0;
	position: absolute;
	width: 20px;
	margin-left: -4px;
}

#primary-menu li:nth-child(2) {
	border-top: 2px solid #fcfbf9;
	border-right: 2px solid #fcfbf9;
	border-bottom: 0;
	color: #fcfbf9;
	display: inline-block;
	max-width: 100%;
	padding: 0 1rem;
	position: relative;
	text-transform: uppercase;
	word-break: break-word;
	word-wrap: break-word;
}

#site-navigation.sticky li, #site-navigation.sticky li::before, #site-navigation.sticky li::after{
 border: 0px !important;
}
