/* document.body.appendChild(function() {var el = document.createElement('link'); el.setAttribute('ref', 'stylesheet'); el.setAttribute('href', 'https://raw.githubusercontent.com/jl4282/wordpressstyle/master/style.css'); return el;}()) */

.pique-panel1 h3, .pique-panel2 h3 { text-align: center; }
@media (min-width: 768px) {
    #post-64 { visibility: hidden }
}
@media (max-width: 767px) {
	#post-64 { display: none }
}
.pique-panel2 img{
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 5px !important;
}      


#primary-menu li{
  	background-color: #f6a360;
    border-radius: 10px 0px 0px 10px;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

#primary-menu li right{
  	background-color: #f6a360;
    border-radius: 0px 10px 10px 0px;
    border-right-color: black;
    border-right-width: 1px;
    border-right-style: solid;
}

