/*
Welcome to Custom CSS!

To learn how this works, see http://wp.me/PEmnE-Bt
*/
.pique-panel2 h3, .pique-panel3 h3 {
	text-align: center;
}

@media (min-width: 768px) {
	#post-64 {
		visibility: hidden;
	}
}

@media (max-width: 767px) {
	#post-64 {
		display: none;
	}
}

.pique-panel3 article:nth-child(7) {
	width: 100%;
	border: 2px white;
}

.pique-panel3 article:nth-child(7) img {
	display: none;
}

.pique-panel3 article:nth-child(7) h3::before {
	display: block;
	background-image: url('https://testsite237982889.files.wordpress.com/2019/06/yagoda-6359.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	height: 650px;
	width: 100%;
	background-position: center;
	margin-bottom: 1em;
}

.pique-panel3 img {
	width: 100% !important;
	height: 100% !important;
	max-width: none !important;
	max-height: none !important;
	border-radius: 5px !important;
}

@media (min-width: 767px) {
	.site-branding .site-logo-link img {
		height: 197px !important;
		max-height: none !important;
	}
}

#primary-menu li:first-child::before {
	border-bottom: 2px solid #fcfbf9;
	bottom: 0;
	content: '';
	display: block;
	height: 0;
	position: absolute;
	width: 20px;
	margin-left: -16px;
}

#primary-menu li:first-child {
	border-top: 2px solid #fcfbf9;
	border-left: 2px solid #fcfbf9;
	border-bottom: 0;
	color: #fcfbf9;
	display: inline-block;
	max-width: 100%;
	padding: 0 1rem;
	position: relative;
	text-transform: uppercase;
	word-break: break-word;
	word-wrap: break-word;
}

#primary-menu li:nth-child(3)::after {
	border-bottom: 2px solid #fcfbf9;
	bottom: 0;
	content: '';
	height: 0;
	position: absolute;
	width: 20px;
	margin-left: -4px;
}

#primary-menu li:nth-child(3) {
	border-top: 2px solid #fcfbf9;
	border-right: 2px solid #fcfbf9;
	border-bottom: 0;
	color: #fcfbf9;
	display: inline-block;
	max-width: 100%;
	padding: 0 1rem;
	position: relative;
	text-transform: uppercase;
	word-break: break-word;
	word-wrap: break-word;
}

#primary-menu li:nth-child(4) {
	display: none;
}

#primary-menu li:nth-child(2) {
	border-top: 2px solid #fcfbf9;
}

#site-navigation.sticky li, #site-navigation.sticky li::before, #site-navigation.sticky li::after {
	border: 0 !important;
}

#post-50 p {
	text-align: center !important;
}
